*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: blue;
  height: 400px;
}

.menu{
  max-width: 1180px;
  margin: 0 auto;
  background-color: lightskyblue;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.titolo{
  max-width: 1180px;
  margin: 20px auto;
  background-color: lightblue;
  height: 200px;
  text-align: center;
}

.intro{
  width: 100px;
  height: 30px;
  background-color: lightcoral;
  border: 1px solid black;
}